.about__title{
    text-align: center;
    padding: 30px 30px 0px 30px;
}

.about__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px 40px 60px;
}

.about__text h2{
    margin-bottom: 5%;
    text-align: center;
}

.about__image{
    display: flex;
    justify-content: center;
}
.about__image img{
    height: auto;
    width: 80%;
    border-radius: 50%/40%;
}

.about__image{
    padding: 5px;
    margin: auto;
}

.about__skills-title{
    text-align: center;
    padding: 0 0 0 0;
}

/*css til karrusel fra: https://www.youtube.com/shorts/IU8gFtgSxDw */
.about__carousel-wrapper{
    overflow: hidden;
    width: 100%;
    margin: 15px 0 15px 0;
}

.about__carousel-track{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 175px;
    justify-items: stretch;
    animation: animation 25s linear infinite;
}

            /*husk at ændr keyframes når du ændre img width*/
.about__carousel-track img{
    width:175px;
    height: 195px;
    border-radius: 15px;
    object-fit: cover;
    border: 1px solid #fff
}

@keyframes animation{
    to{
        translate: calc(-10*175px);
    }
}

@media (min-width:635px){
    .about__info{
        display: flex;
        flex-direction: row;
        padding: 0px 60px 40px 60px;
    }

    .about__text{
        width: 50%;
    }

    .about__image{
        width: 50%;
    }

    .about__image img{
        height: auto;
        width: 100%;
        border-radius: 50%/40%;
    }

}
   